name: github-FORMAT

on:
  pull_request:
    branches:
      - master
      - develop

permissions:
  contents: none

jobs:
  clang-format-check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: sudo apt install clang-format-8

      - name: check
        run: |
          # Fetch from the default remote (origin)
          git fetch &> /dev/null

          # For every file changed, apply clang-format
          for file in $(git diff --name-only origin/$GITHUB_BASE_REF | egrep '.*\.cpp$|.*\.hpp$|.*\.h$'); do
            if [ -e $file ]; then
              clang-format-8 -i -style=file $file
              git add $file
            fi
          done

          # If any diffs exist, print the patch and error out
          if [[ ! -z $(git status -s -uno . -- ':!.github') ]]; then
            echo "The following files require formatting changes:"
            git status -s -uno . -- ':!.github'

            echo "==== Begin Format Patch ===="
            # --cached means show staged changes (git add above)
            git --no-pager diff --patch --cached
            echo "==== End Format Patch ===="

            echo "To automate formatting, see:"
            echo "    https://kokkos-kernels.readthedocs.io/en/latest/developer/style.html#id1"

            exit 1
          fi
